@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ApiOne</h1>
    <p>If you want to Access the <a href="https://localhost:44364/secret">Secret Page</a>.Then You need access token.</p>
    <p>Note : Access Apione secret page from <a href="https://localhost:44314/">Apitwo</a></p>
</div>
